*.pyc
*.swp
*.swo
*.swn

applications/quantized/images/*
applications/quantized/models/*

applications/mssd/tensorflow/libs/*
applications/mssd/tensorflow/obj/*

applications/mssd/tflite/libs/*
applications/mssd/tflite/obj/*

applications/blazeface/tensorflow/libs/*
applications/blazeface/tensorflow/obj/*

applications/yufacedetect/caffe/libs/*
applications/yufacedetect/caffe/obj/*

applications/retinaface/caffe/libs/*
applications/retinaface/caffe/obj/*
applications/retinaface/caffe/jni/graphs/mnet.caffemodel
applications/retinaface/caffe/jni/graphs/mnet.prototxt

applications/mnist/onnx/libs/*
applications/mnist/onnx/obj/*
applications/mnist/train/data/*.gz
applications/mnist/train/*.params
applications/mnist/train/*.json

applications/pfld-lite/onnx/libs/*
applications/pfld-lite/onnx/obj/*

libraries/mnn/include/tools/converter/build/*

## not yet
applications/pelee/
applications/mtcnn/
applications/openpose/
applications/zhazhafei/
applications/mobilefacenet/
libraries/tensorflow/
.vscode/settings.json
