applications/quantized/images/*
applications/quantized/models/*

applications/mssd/tensorflow/libs/*
applications/mssd/tensorflow/obj/*

applications/mssd/tflite/libs/*
applications/mssd/tflite/obj/*

applications/blazeface/tensorflow/libs/*
applications/blazeface/tensorflow/obj/*

applications/yufacedetect/caffe/libs/*
applications/yufacedetect/caffe/obj/*

applications/retinaface/caffe/libs/*
applications/retinaface/caffe/obj/*
applications/retinaface/caffe/jni/graphs/mnet.caffemodel
applications/retinaface/caffe/jni/graphs/mnet.prototxt


libraries/mnn/include/tools/converter/build/*

## not yet
applications/pelee/
applications/mtcnn/
applications/openpose/
applications/zhazhafei/
applications/mobilefacenet/
libraries/tensorflow/